h1 {
    color: greenyellow;
    font-size: 24px;
    margin-bottom: 100px;
    padding-bottom: 50px;
    border-bottom: 1px solid white;
    text-align: center;
}

body {
            padding-right: 20px;
            color: white;
            background-color: black;
    }

#navlist li {
        display: inline;
        list-style-type: none;
        padding-right: 20px;
    }
#intro {
    padding-left: 20px;
}

#splash {
    padding-left: 20px;
}